body {
    color: mediumpurple;
}

.loginBtn {
    background-color: #6a0dad !important; /* Deep purple color */
    color: #ffffff !important; /* White text */
    border: none !important; /* Remove default border */
    border-radius: 8px !important; /* Rounded corners */
    padding: 12px 24px !important; /* Add padding for size */
    margin: 0 30px !important; /* Adds space to the right of the button */
    margin-bottom: 10px !important;
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}

.logoutBtn {
    background-color: #6a0dad !important; /* Deep purple color */
    color: #ffffff !important; /* White text */
    border: none !important; /* Remove default border */
    border-radius: 8px !important; /* Rounded corners */
    padding: 12px 24px !important; /* Add padding for size */
    margin: 0 30px !important; /* Adds space to the right of the button */
    margin-bottom: 10px !important;
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}

.registerBtn {
    background-color: #6a0dad !important; /* Deep purple color */
    color: #ffffff !important; /* White text */
    border: none !important; /* Remove default border */
    border-radius: 8px !important; /* Rounded corners */
    padding: 12px 24px !important; /* Add padding for size */
    margin-left: 15px !important;
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
}

.modal:has(.flashcards__container) {
    min-width: 50vw;
}

.flashcards__container {
    .flashcards__insert {
        width: 80%;
        height: 1.3em;
        opacity: 0;
        box-shadow: none;
        position: absolute;
        left: 10%;
        transform: translate(0, -50%);
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    .flashcard--edit {
        &:nth-last-child(-n + 1 of .flashcard--edit) {
            border-bottom: 1px solid var(--background-modifier-border);
        }

        .setting-item-control {
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
        }

        textarea {
            resize: vertical;
            flex-grow: 3;
        }
    }
}